adium-theme-ubuntu==0.3.4
apt-xapian-index==0.45
backports.shutil-get-terminal-size==1.0.0
blinker==1.3
bzr==2.7.0.dev1
chardet==2.0.1
colorama==0.2.5
command-not-found==0.3
configobj==4.7.2
debtagshw==0.1
decorator==4.0.10
defer==1.0.6
dirspec==13.10
docutils==0.11
duplicity==0.6.23
entrypoints==0.2.2
enum34==1.1.6
Flask==0.10.1
gunicorn==17.5
html5lib==0.999
httplib2==0.8
ipykernel==4.5.0
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
itsdangerous==0.22
Jinja2==2.8
JPype1==0.6.1
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.0
keyring==3.5
langdetect==1.0.7
launchpadlib==1.10.2
lazr.restfulclient==0.13.3
lazr.uri==1.0.3
lockfile==0.8
lxml==3.3.3
MarkupSafe==0.18
matplotlib==1.3.1
mistune==0.7.3
nbconvert==4.2.0
nbformat==4.1.0
nltk==3.2.1
nose==1.3.1
notebook==4.2.3
numpy==1.11.2
numpydoc==0.4
oauth==1.0.1
oauthlib==0.6.1
oneconf==0.3.7.14.4.1
PAM==0.4.2
paramiko==1.10.1
pathlib2==2.1.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==2.3.0
piston-mini-client==0.7.5
Pmw==1.3.2
prompt-toolkit==1.0.8
ptyprocess==0.5.1
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
Pygments==2.1.3
pygobject==3.12.0
pyinotify==0.9.4
pyOpenSSL==0.13
pyparsing==1.5.7
pyserial==2.6
pysmbc==1.0.14.1
python-apt===0.9.3.5ubuntu2
python-dateutil==1.5
python-debian===0.1.21-nmu2ubuntu2
pytz==2012rc0
pyxdg==0.25
qtconsole==4.2.1
reportlab==3.0
requests==2.2.1
roman==2.0.0
scikit-learn==0.18.1
scipy==0.18.1
SecretStorage==2.0.0
selenium==3.0.2
sessioninstaller==0.0.0
simplegeneric==0.8.1
simplejson==3.10.0
six==1.10.0
sklearn==0.0
software-center-aptd-plugins==0.0.0
sopex==0.1
Sphinx==1.2.2
ssh-import-id==3.21
system-service==0.1.6
terminado==0.6
textblob==0.11.1
tornado==4.4.2
traitlets==4.3.1
Twisted-Core==13.2.0
Twisted-Web==13.2.0
unity-lens-photos==1.0
urllib3==1.7.1
virtualenv==1.11.4
wadllib==1.3.2
Werkzeug==0.9.4
widgetsnbextension==1.2.6
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xdiagnose===3.6.3build2
xlwt==0.7.5
youtube-dl==2014.2.17
zope.interface==4.0.5
